@import 'common/variables.scss';
@import 'common/blocks/button.scss';

body {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    letter-spacing: 0.1em;

    background: $l-gray;
}

#root {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;

    background: white;
    box-shadow: 0 0 10px 0 $gray;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.none {
    display: none;
}
